/*General*/

* {
    box-sizing: border-box;
}

body {
    /*background: url("Background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;*/
    background-color: rgb(235, 208, 208);
}

/*Landing*/

.landingInfo {
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    border-bottom: 2px solid white;
    text-shadow: 7px 7px 35px  #979797;

}

.landing h1 {
    font-family: 'Muli';
    font-size: 95px;
}

.landing p {
    font-family: 'Muli';
    font-size: 22px;
}

.searchBar {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.searchBarInput {
    font-family: 'Muli';
    margin-bottom: 10px;
    padding: 15px;
    width: 70%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
}

.searchBarSubmit {
    transition: 0.1s;
    font-family: 'Muli';
    font-weight: bold;
    margin: 5px;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 15px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

.searchBarSubmit:hover {
    transition: 0.1s;
    background-color: rgb(255, 166, 166); 
}

/*Navbar*/
.navbar {
    font-family: 'Muli';
    width: 100%;
    height: 60px;
    display: inline-block;
    background-color:white;
    border-radius: 0px 0px 20px 20px;
}

.navbarLeft {
    float: left;
    height: 60px;
    margin-left: 10px;
}

.navbarRight {
    float: right;
    height: 60px;
}

.navbarLogo {
    transition: 0.1s;
    color: black;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    padding: 11px;
    border: 1px solid black;
    border-radius: 7px;
}

.navbarLogo:hover {
    transition: 0.1s;
    color: rgb(218, 86, 86);
    border: 1px solid rgb(218, 86, 86);
}

.navbarButtonOne {
    transition: 0.1s;
    color: black;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    padding: 11px;
    border-left: 1px solid black;
}

.navbarButtonOne:hover {
    transition: 0.1s;
    color: rgb(218, 86, 86);
}

.navbarButtonTwo {
    transition: 0.1s;
    color: black;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    padding: 11px;
}

.navbarButtonTwo:hover {
    transition: 0.1s;
    color: rgb(218, 86, 86);
}

/*Login and Sign Up*/

.align {
    text-align: center;
    margin: auto;
    width: 50%;
}

.form {
    margin-top: 50px;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
}

.input {
    font-family: 'Muli';
    margin-bottom: 10px;
    border: none;
    padding: 15px;
    width: 70%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
}

.submit {
    transition: 0.1s;
    font-family: 'Muli';
    font-weight: bold;
    margin-top: 20px;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 15px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
}

.submit:hover {
    transition: 0.1s;
    background-color: rgb(255, 166, 166);  
}

.line {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid rgb(180, 180, 180);

}

.error {
    color: rgb(255, 73, 73);
    text-align: left;
    width: 70%;
    margin: auto;
}

/*Country Forum*/
.searchForm {
    margin-top: 50px;
    padding: 35px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.postSpace {
    margin: auto;
    width: 50%;
}

.postSpace p {
    font-family: 'lato';
}

.postSpace h1 {
    text-align: center;
    font-family: 'Muli';
    border-bottom: 1px solid rgb(180, 180, 180);
    padding-bottom: 15px;
    width: 70%;
    margin: auto;
}

.post {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
    margin: 20px;
    padding: 15px;
}

.postInfo {
    text-align: center;
}

.pCountry {
    display: inline-block;
    margin: 30px;
}

.pUser {
    display: inline-block;
    margin: 30px;
}

.pDate {
    display: inline-block;
    margin: 30px;
}

.postContent {
    border-top: 1px solid rgb(180, 180, 180);
    padding-bottom: 15px;
    width: 90%;
    margin: auto;
}

.infoSpace {
    margin: auto;
    width: 60%;
}

.infoSpace p {
    font-family: 'lato';
}

.infoSpace h1 {
    text-align: center;
    font-family: 'Muli';
}

.infoSpace h2 {
    text-align: center;
    font-family: 'Muli';
    border-bottom: 1px solid rgb(180, 180, 180);
    padding-bottom: 25px;
    width: 70%;
    margin: auto;
}

.info {
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    margin: 20px;
    padding: 15px;
}

.information {
    margin: auto;
    width: 70%;
}

.deletePost {
    float: right;
    transition: 0.1s;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.deletePost:hover {
    transition: 0.1s;
    background-color: rgb(255, 166, 166);  
}

.like {
    float: left;
    transition: 0.1s;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.unLike{
    float: left;
    transition: 0.1s;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

.like:hover, .unLike:hover {
    transition: 0.1s;
    background-color: rgb(255, 166, 166);  
}

.totalLikes {
    float: 'right';
}

.totalLikes p {
    text-align: right;
}

/*Create Post*/

.inputPost {
    font-family: 'Muli';
    margin: 10px;
    border: none;
    padding: 15px;
    width: 80%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
}

.inputContent {
    font-family: 'Muli';
    margin: 10px;
    border: none;
    padding: 15px;
    width: 80%;
    height: 150px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 7px;
}

.submitPost {
    transition: 0.1s;
    font-family: 'Muli';
    font-weight: bold;
    margin-top: 20px;
    background-color: rgb(219, 110, 110); 
    border: none;
    color: white;
    padding: 15px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

.submitPost:hover {
    transition: 0.1s;
    background-color:rgb(255, 166, 166); 
}

.errorPost {
    color: rgb(255, 73, 73);
    text-align: left;
    width: 80%;
    margin: auto;
}

.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media only screen and (max-width: 1200px) {

    .error {
        width: 100%;
    }

    .errorPost {
        width: 90%;
    }
    

    .navbarButtonOne {
        font-size: 15px;
    }

    .navbarButtonTwo {
        font-size: 15px;
    }

    .navbarLogo {
        font-size: 15px;
    }

    .landing h1 {
        font-family: 'Muli';
        font-size: 55px;
    }
    
    .landing p {
        font-family: 'Muli';
        font-size: 20px;
    }

    .searchBar {
        width: 70%;
    }

    .searchBarInput {
        width: 100%; 
        display: block;
    }

    .searchBarSubmit {
        width: 50%;
        display: block;
        margin: auto;
    }

    .align {
        width: 70%;
    }

    .form {
        margin-top: 50px;
        background-color: white;
        padding: 35px;
        border-radius: 10px;
    }

    .input {
        width: 100%; 
        display: block;
    }

    .postSpace {
        width: 80%;
    }
    
    .post h1 {
        font-size: 20px;
    }

    .post p {
        font-size: 14px;
    }

    .pCountry {
        display: block;
    }
    
    .pUser {
        display: block;
    }
    
    .pDate {
        display: block;
    }

    .submit {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .infoSpace {
        width: 80%;
    }

    .infoSpace p {
        font-size: 14px;
    }
    
    .infoSpace h1 {
        font-size: 20px;
    }
    
    .infoSpace h2 {
        font-size: 17px;
    }

    .inputPost {
        width: 90%;
        font-size: 14px;
    }
    
    .inputContent {
        width: 90%;
        font-size: 14px;
    }
    
    .submitPost {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .deletePost {
        font-size: 17px;
    }
}

@media only screen and (max-width: 480px) {

  

    .navbarButtonOne {
        font-size: 13px;
    }

    .navbarButtonTwo {
        font-size: 13px;
    }

    .navbarLogo {
        font-size: 13px;
    }

    .searchBar {
        width: 90%;
    }
    
    .searchBarInput {
        font-size: 12px;
    }

    .searchBarSubmit {
        width: 100%;
        font-size: 9px;
    }

    .input {
        font-size: 12px;
    }

    .align {
        width: 95%;
    }

    .postSpace {
        width: 100%;
    }

    .post h1 {
        font-size: 17px;
    }

    .post p {
        font-size: 12px;
    }

    .pCountry {
        font-size: 12px;
    }
    
    .pUser {
        font-size: 12px;
    }
    
    .pDate {
        font-size: 12px;
    }
    
    .submit {
        width: 100%;
        font-size: 9px;
    }

    .infoSpace {
        width: 100%;
    }

    .infoSpace p {
        font-size: 12px;
    }
    
    .infoSpace h1 {
        font-size: 16px;
    }
    
    .infoSpace h2 {
        font-size: 14px;
    }

    .deletePost {
        font-size: 14px;
    }
}


  